.preload {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 99999;

    svg {
        animation-name: loading_animation;
        animation-duration: 1200ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes loading_animation {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}